body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    color: #333;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;

}

h1, h2 {
    box-sizing: border-box;
    color: rgb(18, 29, 50);
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: clamp(16px, 4cqw, 26px);
    text-align: center;
    margin-bottom: 12px;
}

h2 {
    font-size: clamp(12px, 2.5cqw, 18px);
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

/* ГЛАВНЫЙ КЛАСС ДЛЯ СКРЫТИЯ ЭКРАНОВ */
.hidden {
    display: none !important;
}

/* КНОПКИ */
button {
    padding: 6px 8px;
    background-color: #0066ff;
    color:#f8f8f8;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #0049b6;
    margin: 0.5em;
}

.btn-add {
    display: flex;
    justify-content: flex-end;
}

.btn-form {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* ТАБЛИЦА */
table {
    width: 100%;
    border-collapse: collapse;
}

thead th{
    background-color: #e7e7e7;
}

th, td {
    padding: 12px 15px; 
    border: 1px solid #b4b4b4;
}

th {
    background-color: #e7e7e7;
    color: #414141;
    font-weight: 600;
    text-transform: uppercase;
}

td {
    background-color: #f8f9fa;
    color: #414141;
    font-weight: 600;
    text-transform: uppercase;
}

.do {
    max-width: 368px;
}

tr:hover {
    background-color: #ababab;
}

/* ФОРМА */
form {    
    container-type: inline-size;

    background-color: #f8f8f8;
    border-radius: 8px;
    max-width: 720px;
    width: 100%;
    min-width: 360px;
    box-sizing: border-box;
    border: 2px solid #ababab;
    padding: 24px;
    padding-top: 6px;
    margin: 0 auto;

}

label {
    display: block;
    color: #0f151b;
    font-weight: bold;
    font-size: 16px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #cacaca;
    border-radius: 6px;
    max-width: 535px;
}

input[type=checkbox] {
    width: 1.3em;
    height: 1.3em;
    margin-left: 0;
    margin-top: 4px;
}

.form-data, .form-no-rus {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    gap: 10px;
    margin-top: 14px;
}

.form-notes {
    display: grid;
    align-items: start;
    grid-template-columns: 20% 80%;
    gap: 10px;
    margin-top: 14px;
}

#isu-error {
    display: block;
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .form-data, .form-notes {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.2em;
        margin-top: 0.7em;
    }
    
    .form-no-rus {
        display: block;
        gap: 10px;
        margin-top: 7px;
    }
}